* {
  margin:0px;
  padding:0px;
  font-size: 60pt;
  font-family: monospace;
  box-sizing: border-box;
}

.App {
  display: flex;
  height: 90vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav {
    display: flex;
    width: 100vw;
    height: 8vh;
    justify-content: space-around;
    font-size: 24pt;
    border-bottom: 1vh solid black;
    padding-top: 1vh;
}

.link {
    font-size: 24pt;
    text-decoration: none;
    color: black;
    text-align: center;
}

.link:hover {
    color: grey;
}