/* .App { text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  margin:0px;
  padding:0px;
  font-size: 60pt;
  font-family: monospace;
  box-sizing: border-box;
}

.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#instructionText {
    margin: 5vh 10vw;
    font-size: 24pt;
    text-align: center;
}

div#startBtn {
    background-color: green;
    display: inline-block;
    color: white;
    padding: 3vh 3vw;
    margin: 3vh 0vw;
    border: 4px solid black;
    font-size: 24pt;
}

.buttonArr{
  display: flex;
  justify-content: space-around;
  width: 50vw;
}

.button {
  background-color: blue;
  display: inline-block;
  color: white;
  padding: 2vh 4vw 2vh 4vw;
  border: 4px solid black;
  font-size: 24pt;
  margin-left: 1vw;
}