* {
  margin:0px;
  padding:0px;
  font-size: 60pt;
  font-family: monospace;
  box-sizing: border-box;
}

.App {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#instructionText {
    margin: 5vh 10vw;
    font-size: 24pt;
    text-align: center;
}

div#startBtn {
    background-color: darkgreen;
    display: inline-block;
    color: white;
    padding: 3vh 3vw;
    margin: 3vh 0vw;
    border: 4px solid black;
    font-size: 24pt;
}

div#startBtn:hover{
  background-color: green;
}

.buttonArr{
  display: flex;
  justify-content: space-around;
  width: 50vw;
}

.button {
  background-color:darkblue;
  display: inline-block;
  color: white;
  padding: 2vh 4vw 2vh 4vw;
  border: 4px solid black;
  font-size: 24pt;
  margin-left: 1vw;
}

.button:hover{
  background-color: blue;
}